<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright (C) 2013 AnV Software</string>
	<key>CFBundleIdentifier</key>
	<string>com.AnV.Software.driver.AppleMonitor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Display Injector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9.9.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Monitor Apple ID Injection</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>DisplayProductID</key>
			<integer>29496</integer>
			<key>DisplayVendorID</key>
			<integer>23139</integer>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleBacklightDisplay</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>AppleDisplayType</key>
				<integer>2</integer>
				<key>AppleSense</key>
				<integer>1854</integer>
				<key>DisplayParameterHandlerUsesCharPtr</key>
				<true/>
				<key>DisplayProductID</key>
				<integer>45061</integer>
				<key>DisplayProductName</key>
				<string>VX2478-4K-HD</string>
				<key>DisplayVendorID</key>
				<integer>1552</integer>
				<key>IODisplayCapabilityString</key>
				<data>
				KHByb3QoYmFja2xpZ2h0KSB0eXBlKGxlZCkgbW9kZWwo
				aU1hYykgdmNwKDAyIDEwIDUyIDhEIEM4IEM5IERFIERG
				IEZDIEZEIEZFKSBtY2NzX3ZlcigyLjIpKQ==
				</data>
				<key>IODisplayConnectFlags</key>
				<data>
				hEkAAA==
				</data>
				<key>IODisplayControllerID</key>
				<data>
				AgQR/w==
				</data>
				<key>IODisplayEDID</key>
				<data>
				AP///////wAGEAWwAAAAABwWAQS1MBt4Im+xp1VMniUM
				UFS9a4CBwIGAlQCpwLMA0cABAQEBTdAAoPBwPoAwIDUA
				CiYhAAAaAAAA/QAoPA/MPAAKICAgICAgAAAA/ABpTWFj
				CiAgICAgICAgAAAA/wBWVFgxOTAxMDAwMDAKAQsCAxh0
				S5CfhZQEEwMSAQIRIwkPB4MBAAAEdAAw8nBagLBYNgAK
				JiEAABpWXgCgoKApUDAgNQAKJiEAAB4AAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASA==
				</data>
				<key>IODisplayFirmwareLevel</key>
				<data>
				AAACBA==
				</data>
				<key>IODisplayMCCSVersion</key>
				<data>
				AAICAA==
				</data>
				<key>IODisplayPrefsKey</key>
				<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/PEG0@1/IOPP/AppleBacklightDisplay-610-b005</string>
				<key>scale-resolutions</key>
				<array>
					<data>
					AAAPAAAACHAAAAAJAKAAAA==
					</data>
				</array>
			</dict>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
